[Unit]
Description=The Glass Flask API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/the-glass-api
EnvironmentFile=/home/ubuntu/the-glass-api/.env
ExecStart=/home/ubuntu/the-glass-api/venv/bin/python -m src.api
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
